.navbar {
    background: #157DD9;
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 999;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
}

.header {
    background-image: url(canada01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.description {
    color: #F36C08;
    position: absolute;
    top: 40%;
}

.description p {
    color: #BB9446;
    font-size: 50%;
    width: 50%;
}

.description button {
    margin-top: 2px;
    color: #F36C08;
    border-color: #F36C08;
}

.description button:hover {
    background-color: #F36C08;
}

.portfolio h2 {
    color: #F36C08;
    left: 60%;
}

.portfolio {
    background: #E5E7E9;
}

.portfolio-name {
    text-align: center;
}

.portfolio .btn {
    color: #000000;
    border-color: #F36C08;
    background-color: #F36C08;
}

.portfolio .btn:hover {
    background-color: #E48E19;
}

.input-group {
    width: 40%;
}
